
.header{
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo-section{
    display: flex;
    align-items: center;
}
.search-bar-section{
    flex:1;
    max-width: 500px;
    margin-right: 100px;
    margin-left: 100px;
    display: flex;
    align-items: center;

}
.options-section{
    width: 350px;
    background-color: lightgreen;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo-section .logo {
    height: 20px;
}

.logo-section .menu-icon {
    height: 23px;
    margin-left: 24px;
    margin-right: 25px;
}
.search-bar-section {
    display: flex;
    align-items: center;
}
.search-icon{
    height: 22px;
}

button{
    border: none;
    cursor: pointer;
}

.search-button {
    border: 1.3px solid #ccc;
    width: 60px;
    height: 39px;
    border-left: 0;
    margin-right: 10px;
    border-radius: 0 2px 2px 0;
        background-color: #f8f8f8;
        box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.search-bar {
    flex: 1;
    height: 35px;
    border-width: 1px;
    border-color: #ccc;
    border-style: solid;
    font-size: 16px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 2px 0 0 2px;
}

.search-bar::placeholder{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-left: 10px;
}

.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 30px;
}

.voice-search-icon {
    height: 23px;
}
