.side-bar-section {
    position: fixed ;
    top: 60px;
    left: 0;
    width: 80px;
    bottom: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.side-bar-section img{
    width: 27px;
    height: 27px;
}

.side-bar-text{
    font-size: 10px;
    margin-top: 5px;
}

.side-bar-item{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease;
}

.side-bar-item:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}