
.video-author:hover, .video-title:hover, .thumbnail,.channel-profile:hover{
    cursor: pointer;
}
.thumbnail{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.thumbnail-row{
    margin-bottom: 10px;
}
.video-details{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.video-author, .video-stats{
    color: rgb(96, 96, 96);
    font-size: 12px;
}
.video-author{
    margin-bottom: 3px;
}
.channel-profile,.video-info{
    display: inline-block;
    vertical-align: top;
}
.profile{
    width: 38px;
    border-radius: 40px;
}
.video-title{
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 500;
}
.content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 40px;
}